:root {
    --background-front: #f9f9f9;
    --background-back: #eee;
    --navbg:#fff;
    --navbg-hover:hsl(195deg, 85%, 41%);
    --nav-fly-bg:var(--background-color);
    --nav-fly-bg-hover:#4c87c4;
    --nav-fly-color:#fff;
    --font-family:"Vazir";
    --sidebar-header-bg:#d3d3d3;
    --sidebar-avatar-bg:#e3e3e3;
}